.container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color:azure;

}
h1 {
    text-align:center;
}
h2 {
    text-align: center;
    border-bottom: 1px solid red;
}
p {
    text-align:center;
    background-color: aqua;
    font-size: 15px;
    padding: 10px;
}
